<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cpsc466.ecs.fullerton.edu.cpsc466">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_spash_466_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity_Spash"
            android:noHistory="false"
            android:label="WEEBZ ROUT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity0_Sign_In_Up"
            android:label="WELCOME">

        </activity>

        <activity
            android:name=".MainActivity1_Sign_Up"
            android:label="Register New User">
        </activity>

        <activity
            android:name=".MainActivity2_Sign_In"
            android:label="Login">

        </activity>

        <activity
            android:name=".MainActivity3_Main"
            android:label="Saved Plans">

        </activity>

        <activity
            android:name=".MainActivity4_Name_Plan"
            android:label="">

        </activity>

        <activity
            android:name=".MainActivity5_Choose_Destinations"
            android:label="Make Selection">

        </activity>
    </application>

</manifest>